<div class="max-w-prose print:hidden">
  {{/* Render tags if partial exists */}}
  {{ if templates.Exists "partials/tags.html" }}
    {{ partial "tags" . }}
  {{ end }}

  {{/* Sharing disabled site-wide */}}

  {{/* Render author details if partial exists */}}
  {{ if templates.Exists "partials/page_author.html" }}
    {{ partial "page_author" . }}
  {{ end }}

  {{/* Render related content if partial exists */}}
  {{ if templates.Exists "partials/page_related.html" }}
    {{ partial "page_related" . }}
  {{ end }}

  {{/* Render comments if partial exists */}}
  {{ if templates.Exists "partials/comments.html" }}
    {{ partial "comments" . }}
  {{ end }}
</div>